<header class="fixed top-0 w-full z-50 bg-[#0B0B0F]/90 backdrop-blur-md shadow-lg py-4 border-b border-white/5">
  <div class="container mx-auto px-6 flex justify-between items-center">
    <a href="{{ site.baseurl }}/" class="flex items-center gap-3">
      <img src="/assets/images/logo.png" alt="SpaceDevs Logo" style="width: 50px; height: 50px;">
      <h1 class="text-2xl md:text-3xl font-display font-bold text-white">
        Space<span class="text-brand-purple">devs</span>
      </h1>
    </a>
    <nav class="hidden md:flex items-center text-xs font-semibold tracking-widest text-gray-500 ml-8 gap-2 uppercase">
      <a href="/" class="hover:text-brand-light cursor-pointer transition-colors">Home</a>
      <span>/</span>
      <a href="{{ site.baseurl }}/" class="text-brand-purple cursor-pointer hover:underline">Blog</a>
    </nav>
    <!-- <button
      class="bg-brand-purple hover:bg-brand-dark text-white px-6 py-2.5 rounded-xl font-bold text-sm tracking-wide shadow-[0px_4px_0px_0px_rgba(76,29,149,1)] hover:translate-y-[2px] hover:shadow-[0px_2px_0px_0px_rgba(76,29,149,1)]">
      APOIAR
    </button> -->
  </div>
</header>
